.nav {
    grid-area: n;
    background-color: green;
    color: white;
}
.item{
    color: white;
    text-decoration: none;
}
.activeLink{
    color: gold;
}
.avatar{
    height: 50px;
    width: 50px;
 }